@import './variables.scss';

h1 {
  margin   : 0;
  font-size: 2.5em;
}

h3, h2 {
  font-size    : 1em;
  font-weight  : bold;
  margin-top: 0;
}

h3 {
  color: $light-title;
}

h2 {
  color: #2095f2;
}
