$secondary-text-color:    #2196f3;

$body-bg:           #f1f1f1 !default;


$btn-default-color: #fff !default;
$btn-default-bg:    $secondary-text-color !default;


$btn-info-color: #fff !default;
$btn-info-bg:    #e91e63 !default;


$btn-primary-color: #fff !default;
$btn-primary-bg:    #9c27b0 !default;

$text-color:     #363f45 !default;
$sub-text-color: #6c777f;
$light-text-color:    #9D9EA8;
//remove this
$light-title:    #9D9EA8;

$card-bg: #ffffff;
